

*{
  font-family: Montserrat, serif;
}


body {
  padding-top: 54px;
  color: #343434;
  background-color: #FDF7EB;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.nav-item {
  color: #FDF7EB;
}

.my-auto, button {
  background-color: #343434;
  color: #FDF7EB;
}

button {
  border: 1px solid #FDF7EB;
  padding: 15px;
  margin: 20px;
  letter-spacing: 2px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

table {
    width:100%;
    max-height: 400px;
    overflow:scroll;
}
table, th, td {
    border: 3px solid #FDF7EB;
    border-collapse: collapse;
    color: #343434;
}

th, td, tr {
    padding: 15px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #FDF7EB;

}
tr:nth-child(odd) {
   background-color: #DB4C2C;

}
th {
    background-color: #343434;
    color: #FDF7EB;
}

.no {
  font-weight: bold;
}

.email {
  width: 90px;
  height:90px;
  border-radius: 45px;
}

.login-register {
  width: 110px;
  height:60px;
  border-radius: 30px;
}


button:hover {
    border: 1px solid #343434;
    background-color: #FDF7EB;
    color: #343434;
}

.tablehold {
	width: 65%;
	padding-right: 30px;
	margin-right: 30px;
	border: 1px solid #CECAC1;
  box-shadow: 3px 3px 1px #CECAC1;
  text-align:center;
  padding: 20px;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.35rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.tinder-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.tinder-section .tinder-item .tinder-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.tinder-section {
    min-height: 100vh;
  }
  section.tinder-section .tinder-item .tinder-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.tinder-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #DB4C2C !important;
}

.text-primary {
  color: #343434 !important;
}

a {
  color: #343434;
}

a:hover, a:focus, a:active {
  color: #343434;
}
